body {
  margin: 0%;
}

.container {
  display: grid;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 2fr 1.5fr 2fr;
  grid-template-rows: 1fr 8fr 1fr 8fr 1fr;
}

.top {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  border-radius: 7%;
  grid-row: 2 /3;
  grid-column: 2 / 3;
}

.mid {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  width: 95%;
  /* Used margin left for now, will look into aligning it to centre with no margin later */
  margin-left: 2.5%;
  border-radius: 15%;
  grid-row: 3/4;
  grid-column: 2/3;
}

.bot {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );

  border-radius: 7%;
  grid-row: 4 /5;
  grid-column: 2 / 3;
}

.top-top {
  height: 15%;
  display: flex;
  justify-content: center;
}

.mid-top {
  height: 70%;
  display: flex;
}

.bot-top {
  height: 15%;
  display: flex;
  justify-content: center;
}

.top-top-buttons {
  display: flex;
  width: 87.5%;
  justify-content: space-between;
  align-items: center;
}

.gummy-ball {
  height: 2vw;
  width: 2vw;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
  border-radius: 100%;
}

.indent-ball {
  height: 1.5vw;
  width: 1.5vw;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  border-radius: 100%;
}

.screen {
  background-color: rgb(0, 0, 0);
  margin-left: 7.5%;
  margin-right: 7.5%;
  align-items: center;
  justify-items: center;
  align-self: center;
  height: 100%;
  width: 100%;
}

.actual-lcd {
  background-color: rgb(25, 205, 88);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  height: 80%;
  width: 80%;
}

.gbasp-logo {
  height: 20%;
  display: flex;
  justify-content: center;
}

.top-bot {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43%;
}

.mid-bot {
  height: 40%;
  display: flex;
}

.bot-bot {
  height: 40%;
}

.lght-btn {
  background-color: rgb(0, 0, 0);
  height: 2vw;
  width: 2vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actual-lght-btn {
  background-color: grey;
  border-radius: 100%;
  height: 1.5vw;
  width: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dsply-lghts {
  margin-top: 8%;
  display: grid;
  gap: 40%;
}

.dsply-lght {
  background-color: gray;
  width: 0.75vw;
  height: 1vh;
}

.empty-display-lght {
  visibility: hidden;
}

.mid-bot-pillar-thin {
  display: flex;
  width: 10%;
}

.mid-bot-pillar-wide {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.dpad {
  background-color: black;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-bot-pores {
  height: 50%;
  display: flex;
  justify-content: center;
}

.bot-bot-buttons {
  height: 50%;
  display: flex;
  justify-content: center;
}

.bot-bot-buttons-section {
  background-color: black;
  width: 25%;
}

.bot-top-buttons {
  display: flex;
  width: 87.5%;
  justify-content: space-between;
  align-items: center;
}

.horizontal-pores {
  display: flex;
  gap: 20%;
}

.pore {
  background-color: rgb(0, 0, 0);
  height: 1.2vh;
  width: 1.2vh;
  border-radius: 100%;
}

.mid-bot-pore-divider {
  height: 90%;
}

.vertical-pores {
  display: grid;
  height: 40%;
  width: 100%;
  gap: 25%;
}

.select-btn {
  display: grid;
  justify-items: center;
}

.select-text {
  font-size: 55%;
  color: gray;
}

.actual-select-btn {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  height: 3vh;
  width: 3vh;
  border-radius: 100%;
}

.start-btn {
  display: grid;
  justify-items: center;
}

.start-text {
  font-size: 55%;
  color: grey;
}

.actual-start-btn {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  height: 3vh;
  width: 3vh;
  border-radius: 100%;
}

.actual-dpad {
  background-color: gray;
  height: 70%;
  width: 70%;
  border-radius: 100%;
}

.dpad-empty-box {
  height: 3.75vh;
  width: 5vh;
  background-color: rgb(0, 0, 0);
}

.dpad-empty-box-h {
  display: flex;
  gap: 30%;
}

.dpad-empty-box-v {
  display: grid;
  gap: 60%;
}
